@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background-dark text-text-primary overflow-x-hidden;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  background: 
      radial-gradient(circle at 15% 25%, rgba(56, 139, 253, 0.15), transparent 40%),
      radial-gradient(circle at 85% 65%, rgba(138, 43, 226, 0.15), transparent 40%);
  filter: blur(75px);
  z-index: -1;
  animation: move-glow 25s infinite alternate ease-in-out;
}